a {
	text-decoration: none;
}

header {
	background: white;
	border-color: green;
}

h1 {
	font-size: 14px;
	font-weight: bold;
	font-family: 'Arimo', sans-serif;
}


nav {
	background-color: white;
	text-align: center;
	padding: 5px 0;
	margin: 5px 0;

}

nav a {
	color: black;
}

nav ul {
	margin-right: 30px;
	float: right;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
}

nav ul a {
	padding-left: 15px;
}
nav li {
	display: inline-block;
}
img {
	max-width: 100%;
}

#wrapper {
	background-color: white;
	max-width: 100%;
	margin: 0 auto;
	margin-top: -35px;
	
}
#logo {
	float: left;
	margin-top: -5px;
	opacity: 0.8;
}

/*the sharp section*/
.section1 {
	height: 500px ;
	background-image: url(../img/top.jpg);
}
.section1 h1, .section1 p {
	text-align: left;
	line-height: 1.5em;
	clear: left;
	font-family: sans-serif;
	margin-left: 30px;
}

.section1 h1 {
	font-size: 25px;
	padding-top: 50px;
}

#post {
	margin-top: 3px;
	color: white;
	font-size: 12px;
	font-weight: 100;
	border: 1px solid #008F00;
	background: #008F00;
	padding: 5px 18px;
}
/*the transparent section*/
.section2 {
	position: relative;
	height: 80px;
	top: -100px;
	background-color: rgba(9, 7, 7, .5); ;
}

.section2 h1 {
	text-align: center;
	color: white;
	font-size: 14px;
	font-weight: normal;
	padding-top: 30px;
}

.section2 p {
	line-height: 2em;
	font-family: sans-serif;
	font-size: 8px;
	text-align: center;
	color: white;
}
/*the how it works section*/

.section3 {
	text-align: center;
	height:160px;
	background-color: #F6F6F6;
	margin-top: -100px;
}



.section3 h1 {
	text-align: center;
	padding-top: 20px;
	font-family: sans-serif;
	font-size: 20px;
	color: #80807a;
}
#howItworks {
	margin: 0;
	padding: 0;
	list-style: none;
}

#howItworks li {
	margin-top: 30px;
	float:left;
	width: 14.2857%;
}

#howItworks p {
	text-align: center;
	font-family: sans-serif;
	font-size: 9px;
}

#howItworks p a {
	color: #80807a;
	font-size: 12px;
}

#howItworks p a:hover {
	color: #000000;
}

/*looking for a job blury section*/
.section4 {
	font-family: sans-serif;
	text-align: center;
	height:180px;
	background: url(../img/road.png);
	
}


.section4 h1 {
	font-size: 20px;
	padding-top: 25px;
	line-height: 1.5em;
}
.section4 p {
	font-size: 14px;
	line-height: 1.5em;
}

#start{
	position: relative;
	margin: auto;
	margin-top: 3px;
	color: white;
	font-size: 12px;
	font-weight: 100;
	border: 1px solid #008F00;
	background: #008F00;
	padding: 5px 18px;
}


/*partner's section*/
.partners {
	text-align: center;
	height:350px;
	background-color: white;
}

.partners h1 {
	padding: 10px 0;
	color: #80807a;
	font-size: 20px;
}

#part-logo {
	margin: 0;
	padding: 0;
	list-style: none;
}

#part-logo li {
	float: left;
	width: 50%;

}


/*footer*/

.footer {
	position: relative;
	margin: auto;
	font-family: sans-serif;
	font-size: 8px;
	border-top: 2px solid #008F00;
	background-color: #535354;
	width: 100%;
	height: 70px;
}

.footer ul {
	padding-left: 8px;
}

.footer li {
	float: left;
	padding-top: 40px;
	padding-left: 10px;
}

.footer li a {
	color: #eaeae9;
}


